<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mocha Spec Runner</title>
    <link rel="stylesheet" href="lib/mocha/mocha.css">
    <link rel="stylesheet" link="../app/styles/blah.css">
</head>
<body>
    <div id="mocha"></div>
    <script src="lib/mocha/mocha.js"></script>

    <div class="container"></div>

    <!-- table template -->
    <script type="text/template" id="table-template">
        <h1 class="title">Student Directory</h1>
        <div class="template-container"></div>
        <a href="#/add" class="add on-right a-button">Add</a>
    </script>

    <!-- full template -->
    <script type="text/template" id="full-template">
        <h1 class="title"><%= user.get('name') %></h1>
        <div class="template-container"></div>
        <div class="template-buttons">
            <a href="#/students" class="go-back-button a-button">Directory</a>
            <div class="cycle-buttons">
                <a class="see-previous cycle-button">&#171;</a>
                <a class="see-next cycle-button">&#187;</a>
            </div>
            <a href="#/students/edit/<%= user.get('id') %>" class="edit on-right a-button">Edit</a>
        </div>
    </script>

    <!-- edit template -->
    <script type="text/template" id="edit-template">
        <h1 class="title"><%= user.get('name') %></h1>
        <div class="template-container"></div>
        <div class="template-buttons">
            <a href="#/students" class="remove a-button">Remove</a>
            <a href="#/students/<%= user.get('id') %>" class="save on-right a-button">Save</a>
            <a href="#/students/<%= user.get('id') %>" class="cancel on-right a-button">Cancel</a>
        </div>
    </script>

    <!-- add template -->
    <script type="text/template" id="add-template">
        <h1 class="title">New Student</h1>
        <div class="template-container"></div>
        <div class="template-buttons">
            <a href="#/students" class="cancel a-button">Cancel</a>
            <a href="#/students" class="save on-right a-button">Save</a>
        </div>
    </script>

    <!-- table view -->
    <script type="text/template" id="table-view">
        <div class="picture"><a href="#students/<%= user.get('id') %>"><img src="<%= user.get('image') %>" class="thumbnail-photo"></a></div>
        <div class="name"><a href="#students/<%= user.get('id') %>"><%= user.get('name') %></a></div>
        <div class="github"><a href="<%= user.get('github') %>"><%= user.get('github') %></a></div>
    </script>

    <!-- full view -->
    <script type="text/template" id="full-view">
        <div class="info-background">
            <img src="<%= user.get('image') %>" class="full-photo">
            <div class="info">
                <p><strong>Cell:</strong></p>
                <span><%= user.get('cell') %></span>
                <p><strong>Email:</strong></p>
                <span><%= user.get('email') %></span>
                <p><strong>Github:</strong></p>
                <span><%= user.get('github') %></span>
            </div>
        </div>
    </script>

    <!-- add view -->
    <script type="text/template" id="add-view">
        <div class="info-background">
            <span>Name:</span>
            <input class="student-name" placeholder="name">
            <span>Cell:</span>
            <input class="student-cell" placeholder="cell">
            <span>Email:</span>
            <input class="student-email" placeholder="email">
            <span>Github:</span>
            <input class="student-github" placeholder="github">
            <span>Image:</span>
            <input class="student-image" placeholder="url">
        </div>
    </script>

    <!-- edit view -->
    <script type="text/template" id="edit-view">
        <div class="info-background">
            <img src="<%= user.get('image') %>" class="full-photo">
            <div class="info">
                <span>Name:</span>
                <input class="student-name" placeholder="name" value="<%= user.get('name') %>">
                <span>Cell:</span>
                <input class="student-cell" placeholder="cell" value="<%= user.get('cell') %>">
                <span>Email:</span>
                <input class="student-email" placeholder="email" value="<%= user.get('email') %>">
                <span>Github:</span>
                <input class="student-github" placeholder="github" value="<%= user.get('github') %>">
            </div>
            <input class="student-image" placeholder="url" value="<%= user.get('image') %>">
        </div>
    </script>


    <script>mocha.setup('bdd')</script>
    <!-- assertion framework -->
    <script src="lib/chai.js"></script>
    <script>var expect = chai.expect</script>

    <!-- include source files here... -->
    <script src="../app/bower_components/jquery/jquery.js"></script>
    <script src="../app/bower_components/underscore/underscore.js"></script>
    <script src="../app/bower_components/backbone/backbone.js"></script>
    <script src="../app/scripts/TableView.js"></script>
    <script src="../app/scripts/Model.js"></script>
    <script src="../app/scripts/Router.js"></script>
    <!-- include spec files here... -->
    <script src="spec/test.js"></script>

    <script>mocha.run()</script>
</body>
</html>
