<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>student directory</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="styles/e23d7055.main.css">
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container"></div>

        <!-- table template -->
        <script type="text/template" id="table-template">
            <h1 class="title">Student Directory</h1>
            <div class="template-container overflow"></div>
            <a href="#add" class="add on-right extra-top-margin a-button">Add</a>
        </script>

        <!-- full template -->
        <script type="text/template" id="full-template">
            <h1 class="title"><%= student.get('name') %></h1>
            <div class="template-container"></div>
            <div class="template-buttons">
                <a href="#" class="go-back-button a-button">Directory</a>
                <div class="cycle-buttons">
                    <a class="see-previous cycle-button">&#171;</a>
                    <a class="see-next cycle-button">&#187;</a>
                </div>
                <a href="#<%= student.get('_id') %>/edit" class="edit on-right a-button">Edit</a>
            </div>
        </script>

        <!-- edit template -->
        <script type="text/template" id="edit-template">
            <h1 class="title"><%= student.get('name') %></h1>
            <div class="template-container"></div>
        </script>

        <!-- add template -->
        <script type="text/template" id="add-template">
            <h1 class="title">New Student</h1>
            <div class="template-container"></div>
        </script>

        <!-- table view -->
        <script type="text/template" id="table-view">
            <div class="picture"><a href="#<%= student.get('_id') %>"><img src="<%= student.get('image') %>" class="thumbnail-photo"></a></div>
            <div class="name"><a href="#<%= student.get('_id') %>"><%= student.get('name') %></a></div>
            <div class="github"><a href="<%= student.get('github') %>"><%= student.get('github') %></a></div>
        </script>

        <!-- full view -->
        <script type="text/template" id="full-view">
            <div class="info-background">
                <img src="<%= student.get('image') %>" class="full-photo">
                <div class="info">
                    <p><strong>Cell:</strong></p>
                    <span><%= student.get('cell') %></span>
                    <p><strong>Email:</strong></p>
                    <span><%= student.get('email') %></span>
                    <p><strong>Github:</strong></p>
                    <span><%= student.get('github') %></span>
                </div>
            </div>
        </script>

        <!-- add or edit view -->
        <script type="text/template" id="add-or-edit-view">
            <div class="info-background">
                <img src="<%= student.get('image') %>" class="full-photo">
                <div class="info">
                    <span>Name:</span>
                    <input class="student-name" placeholder="name" value="<%= student.get('name') %>">
                    <span>Cell:</span>
                    <input class="student-cell" placeholder="cell" value="<%= student.get('cell') %>">
                    <span>Email:</span>
                    <input class="student-email" placeholder="email" value="<%= student.get('email') %>">
                    <span>Github:</span>
                    <input class="student-github" placeholder="github" value="<%= student.get('github') %>">
                </div>
                <input class="student-image" placeholder="url" value="<%= student.get('image') %>">
                <%= buttonsTemplate({student: student}) %>
            </div>
        </script>

        <!-- add buttons -->
        <script type="text/template" id="add-buttons">
            <div class="template-buttons absolute">
                <a href="#" class="cancel a-button">Cancel</a>
                <div class="save on-right a-button">Save</div>
            </div>
        </script>

        <!-- edit buttons -->
        <script type="text/template" id="edit-buttons">
            <div class="template-buttons absolute">
                <div class="remove a-button">Remove</div>
                <a href="#<%= student.get('_id') %>" class="save on-right a-button">Save</a>
                <a href="#<%= student.get('_id') %>" class="cancel on-right a-button">Cancel</a>
            </div>
        </script>


        <script src="scripts/950f5e92.vendor.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script src="scripts/3b33f309.main.js"></script>

        <script src="scripts/d5d180ab.coffee.js"></script>
</body>
</html>